# Never commit secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/
keys.txt

# VS Code
.vscode/

# Conda / pip
*.egg
pip-wheel-metadata/

# OS
.DS_Store
Thumbs.db